<h2>Celebrities:</h2>

{{#each celebrities}}
    <div class="celebrity">
        <h3>{{this.name}}</h3>

        <p>
            <strong>Occupation: </strong>
            {{this.occupation}}
        </p>

        <p>
            <strong>Catch Phrase: </strong>
            {{this.catchPhrase}}
        </p>
    </div>
{{/each}}