<h2>Celebrity list:</h2>

{{#each celebrities}}
    <div class="celebrity">
        <h3>{{this.name}}</h3>
        <a href="/celebrities/{{this.id}}">See details</a>
        <form action="/celebrities/{{this.id}}/delete" method="POST">
        <button>Delete</button></form>

    </div>
{{/each}}