<h2>Celebrity details:</h2>

<div>
    <h3>{{this.name}}</h3>
    <p>
        <strong>Occupation: </strong>
        {{this.occupation}}
    </p>
    <p>
        <strong>Catch Phrase: </strong>
        {{this.catchPhrase}}
    </p>
</div>